@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --m-mobile-header: 9.375rem;
    --m-header: 5rem;

    --c-black: #000000;
    --c-lightblack: #504b4b;
    --c-extralightgrey: #f6f5f5;
    --c-white: #ffffff;
    --c-darkblue: #3a5bc5;
    --c-lightblue: #b6c5f6;
}

$tablet-width: 768px;
$desktop-width: 1080px;

@mixin tablet {
    @media screen and (min-width:#{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:#{$desktop-width}) {
        @content;
    }
}

body {
    background: var(--c-extralightgrey);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--c-white);
    text-align: center;
    height: var(--m-mobile-header);

    @include tablet() {
        height: var(--m-header);
        text-align: unset;
    }

    .container {
        width: 100%;

        @include tablet() {
            display: flex;
            justify-content: space-evenly;
        }
    }

    .logo {
        font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: var(--c-black);
        font-size: 2.25rem;
        letter-spacing: 0.125rem;

        &-blue {
            color: var(--c-darkblue);
        }

        @include tablet() {
            line-height: var(--m-header);
        }
    }

    .nav__list {
        display: flex;
        justify-content: space-around;

        @include tablet() {
            justify-content: unset;
            line-height: var(--m-header);
        }

        &__item {
            @include tablet() {
                line-height: var(--m-header);
            }
        }

        > li {
            position: relative;

            > ul.trip-dropdown {
                display: none;
                position: absolute;
                background-color: var(--c-white);
                border: solid thin var(--c-black);
                font-size: 1.5rem;
                width: 14rem;
                left: -3rem;
                text-align: center;

                > li a {
                    color: black;
                    padding: 0;
                }
            }

            &:hover {
                > ul.trip-dropdown {
                
                    > li:hover {
                        background-color: var(--c-extralightgrey);
                    }

                    > li a  {
                        &:hover {
                            color: var(--c-darkblue);
                        }
                    }

                    @include desktop() {
                        display: block;
                    }
                }
            }
        }

        .nav__btn {
            display: block;
            color: var(--c-lightblack);
            font-size: 1.625rem;
            padding: 1.25rem 0.625rem 0.625rem 0.625rem;
            margin-bottom: 0.625rem;

            @include tablet() {
                padding: 0 1.5rem;
                margin: 0 auto;
            }

            &:hover {
                color: var(--c-lightblue);
            }

            &--active {
                color: var(--c-black);
                border-bottom: solid thin var(--c-black);

                @include tablet() {
                    border-bottom: unset;
                    text-decoration: underline;
                }
            }
        }
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 0.625rem;
        height: 1.56rem;

        @include tablet {
            // Ask teacher about centering this
            margin-top: calc((var(--m-header) / 2) - (1.56rem / 2));
            line-height: var(--m-header);
            height: 2rem;
        }

        > input[type="search"] {
            width: 18.75rem;
            border-radius: 1.56rem 0 0 1.56rem;
            border-color: var(--c-black);

            @include tablet {
                width: 18.75rem;
            }
        }

        > input[type="submit"] {
            box-sizing: border-box;
            border-radius: 0 1.56rem 1.56rem 0;
            background-color: var(--c-lightblue);
            border-color: var(--c-black);
        }
    }

    .trips-button {
        display: none;

        @include desktop() {
            display: block;
            line-height: var(--m-header);
        }

        > button {
            color: var(--c-black);
            background-color: var(--c-lightblue);
            border-radius: 1.56rem;
            padding: 0.625rem;
            text-transform: uppercase;
        }
    }
}

main {
    margin-top: var(--m-mobile-header);
    height: 100%;

    .container {
        @include desktop() {
            display: grid;
            grid-template-areas:
                "hero hero hero"
                "main-content aside aside";

            width: 80%;
            margin: 0 auto;
        }
    }

    aside {
        grid-area: aside;
    }

    @include tablet() {
        margin-top: var(--m-header);
    }
}

.hero {
    width: 100%;
    border: thin solid var(--c-lightblack);
    text-align: center;
    padding: 3.12rem 0;

    &__title {
        font-size: 0.9375rem;
    }

    &__subtitle {
        color: var(--c-lightblack);
        letter-spacing: 0.125rem;
        line-height: 1.25rem;
        font-size: 0.8125rem;
        text-transform: uppercase;
    }

    @include desktop() {
        grid-area: hero;
    }
}

article {
    .main-article {
        grid-area: main-article;
    }

    > .article-title {
        font-weight: bold;
        margin: 0 0 0.3125rem 0.3125rem;
        font-size: 1.25rem;
    }

    > .article-text {
        margin-left: 0.3125rem;
    }
}

.organiser-card {
    border: thin solid var(--c-lightblack);
    text-align: center;
    width: 95%;
    max-width: 28.12rem;
    margin: 0.5rem auto;
    box-shadow: 0.625rem 0.75rem 0.5rem rgba(0, 0, 0, 0.5);

    &__title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.1875rem;
        margin-bottom: 0.625rem;
    }

    &__image {
        margin-bottom: 0.625rem;
        width: 12.5rem;
    }

    &__text {
        margin-bottom: 0.625rem;
    }
}

footer {
    width: 100%;
    margin-top: 0.9375rem;
    background: var(--c-darkblue);
    text-align: center;

    @include desktop() {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    > p {
        font-weight: bold;
        font-size: 1rem;
        padding: 1.25rem 0;
    }
}
