@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --m-mobile-header: 9.375rem;
  --m-header: 5rem;

  --c-black: #000000;
  --c-lightblack: #504b4b;
  --c-extralightgrey: #f6f5f5;
  --c-white: #ffffff;
  --c-darkblue: #3a5bc5;
  --c-lightblue: #b6c5f6;
}

$tablet-width: 800px;
$desktop-width: 1080px;

/* Media Query Mixins */
@mixin tablet {
  @media screen and (min-width:#{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width:#{$desktop-width}) {
    @content;
  }
}

/* Mains & Headers */

body {
  background: var(--c-extralightgrey);
}

#main-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--c-white);
  text-align: center;
  height: var(--m-mobile-header);

  @include tablet() {
    height: var(--m-header);
    text-align: unset;
  }

  .container {
    width: 100%;

    @include tablet() {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .logo {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--c-black);
    font-size: 2.25rem;
    letter-spacing: 0.125rem;

    &-blue {
      color: var(--c-darkblue);
    }

    @include tablet() {
      line-height: var(--m-header);
    }
  }

  .nav__list {
    display: flex;
    justify-content: space-around;

    @include tablet() {
      justify-content: unset;
      line-height: var(--m-header);
    }

    &__item {
      @include tablet() {
        line-height: var(--m-header);
      }
    }

    > li {
      position: relative;

      > ul.trip-dropdown {
        display: none;
        line-height: 3rem;
        padding: 0.625rem;
        position: absolute;
        background-color: var(--c-white);
        border: solid thin var(--c-black);
        font-size: 1.2rem;
        text-align: center;
        left: -3.5rem;
        border-radius: 0 0 0.625rem 0.625rem;

        > li {
          width: 12rem;
        }

        > li a {
          display: block;
          color: black;
          padding: 0.5rem 0.87rem;
        }
      }

      &:hover {
        > ul.trip-dropdown {
          > li a {
            &:hover {
              color: var(--c-darkblue);
              background-color: var(--c-extralightgrey);
            }
          }

          @include desktop() {
            display: block;
          }
        }
      }
    }

    .nav__btn {
      display: block;
      color: var(--c-lightblack);
      font-size: 1.625rem;
      padding: 1.25rem 0.625rem 0.625rem 0.625rem;
      margin-bottom: 0.625rem;

      @include tablet() {
        padding: 0 1.5rem;
        margin: 0 auto;
      }

      &:hover {
        color: var(--c-lightblue);
      }

      &--active {
        color: var(--c-black);
        border-bottom: solid thin var(--c-black);

        @include tablet() {
          border-bottom: unset;
          text-decoration: underline;
        }
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
    height: 1.56rem;

    @include tablet {
      margin-top: calc((var(--m-header) / 2) - (1.56rem / 2));
      line-height: var(--m-header);
      height: 2rem;
    }

    > input[type="search"] {
      width: 18.75rem;
      border-radius: 1.56rem 0 0 1.56rem;
      border-color: var(--c-black);

      @include tablet {
        width: 18.75rem;
      }
    }

    > input[type="submit"] {
      box-sizing: border-box;
      border-radius: 0 1.56rem 1.56rem 0;
      background-color: var(--c-lightblue);
      border-color: var(--c-black);
    }
  }

  .trips-button {
    display: none;

    @include desktop() {
      display: block;
      line-height: var(--m-header);
    }

    > button {
      color: var(--c-black);
      background-color: var(--c-lightblue);
      border-radius: 1.56rem;
      padding: 0.625rem;
      text-transform: uppercase;
    }
  }
}

.wrapper {
  margin: 0 auto;

  @include tablet() {
    width: 80%;
  }

  @include desktop() {
    width: 1024px;
  }
}

.flex-container {
  display: flex;
}

/* Main Content */

#main {
  margin-top: var(--m-mobile-header);
  height: 100%;

  .container-main {
    aside {
      grid-area: aside;
    }

    @include desktop() {
      display: grid;
      grid-template-areas:
        "hero hero hero"
        "main-content aside aside";
    }
  }



  @include tablet() {
    margin-top: var(--m-header);
  }

  .main-content {
    grid-area: main-content;
  }
}

.hero {
  width: 100%;
  border: thin solid var(--c-lightblack);
  text-align: center;
  padding: 3.12rem 0;

  &__title {
    font-size: 0.9375rem;
  }

  &__subtitle {
    color: var(--c-lightblack);
    letter-spacing: 0.125rem;
    line-height: 1.25rem;
    font-size: 0.8125rem;
    text-transform: uppercase;
  }

  @include desktop() {
    grid-area: hero;
  }
}

// Default styling for all articles
article {
  .main-article {
    grid-area: main-article;
  }

  > .article-title {
    font-weight: bold;
    margin: 0 0 0.3125rem 0.3125rem;
    font-size: 1.25rem;
  }

  > .article-text {
    margin-left: 0.3125rem;
  }
}

// Index Page Card
.organiser-card {
  border: thin solid var(--c-lightblack);
  text-align: center;
  width: 95%;
  max-width: 28.12rem;
  margin: 0.5rem auto;
  box-shadow: 0.625rem 0.75rem 0.5rem rgba(0, 0, 0, 0.5);

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.1875rem;
    margin-bottom: 0.625rem;
  }

  &__image {
    margin-bottom: 0.625rem;
    width: 12.5rem;
  }

  &__text {
    margin-bottom: 0.625rem;
  }
}

form .required-field {
  color: red;
}

/* Contact Page */

.container-contact {
  width: 100%;
  max-width: 748px;
  margin: 0 auto;

  .contact {
    header {
      background-color: lightgray;
      border: var(--c-black) thin solid;
      padding: 1.6rem;
      line-height: 1.5rem;

      h1 {
        font-size: 1.5rem;
      }
      p {
        font-style: italic;
        font-size: 0.8rem;

        @include tablet() {
          font-size: 1.2rem;
        }
      }
    }

    main {
      margin: 0.3rem 0 0 0.3rem;

      .contact-form {
        input,
        textarea {
          margin: 0.3rem 0;
          width: 97%;
          resize: none;
        }
      }

      .contact-form input:last-child {
        display: block;
        width: unset;
        margin: 0 auto;
        padding: 1.2rem 1.8rem;
        background-color: unset;
        text-transform: uppercase;
      }
    }
  }
}

/* Trip Page */

.container-trip {
  margin-top: 6rem;
  max-width: 1500px;
  margin-bottom: 4rem;

  .trip-title {
    font-size: 4rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--c-lightblack);
    font-style: italic;
  }

  .trip-cards {
    gap: 1.4rem;
    flex-wrap: wrap;

    .trip-card {
      display: inline-block;
      margin: 0 auto;

      border: solid 0.2rem var(--c-lightblack);
      text-align: center;
      max-width: 400px;

      &__title {
        color: var(--c-lightblack);
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }

      &__img {
        width: 80%;
        max-height: 400px;
        border: 0.15rem solid var(--c-lightblack);
      }

      &__tags {
        display: flex;
        justify-content: space-evenly;
        margin: 0.3rem 0;

        .card__tag {
          display: inline-block;
          padding: 0.3rem 1.5rem;
          border: solid thin var(--c-lightblack);
          border-radius: 15px;
          background: rgb(155, 160, 165);
          font-weight: bold;
        }
      }

      &__desc {
        margin: 0 auto;
        margin-top: 1rem;
        width: 95%;
      }

      &__btn {
        display: inline-block;
        text-transform: uppercase;
        color: var(--c-black);
        margin: 0.9rem 0 0.3rem 0;
        padding: 0.5rem 2.5rem;
        border: solid thin var(--c-lightblack);
        border-radius: 15px;
        font-weight: bold;
      }
    }
  }
}

/* Trip Information Page */
.container-trip_information {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "information"
  "trip-image"
  "description"
  "details"
  "table"
  "map"
  "react"
  "reactions";
  row-gap: 0.9rem;

  @include desktop() {
    grid-template-areas: 
    "information information ."
    "trip-image details details"
    "description details details"
    "table table ."
    "map map ."
    "react react reactions"
    "react react reactions";
    column-gap: 0.9rem;
  }

  h1 {
    margin-top: 0.7rem;
    font-weight: bold;
    font-size: 1.3rem;
  }

  h3 {
    font-style: italic;
    color: var(--c-lightblack);
    font-size: 0.9rem;
  }

  section {
    h1 {
      margin-bottom: 0.3rem;
    }
  }

  .information {
    grid-area: information;
    margin-top: 1rem;
  }

  .trip-image {
    grid-area: trip-image;
    img {
      display: inline-block;
      width: 99%;
      border: solid 0.25rem var(--c-black);

      @include desktop() {
        width: 100%;
        height: 560px;
      }
    }
  }

  .description {
    grid-area: description;
  }

  .table {
    grid-area: table;
    table {
      width: 100%;
      border: thin solid var(--c-black);
      border-collapse: collapse;

      border-radius: 20px;

      thead {
        font-weight: bold;
      }

      th,
      td {
        padding: 0.5rem;
        text-align: center;
        border: 5px solid var(--c-lightblack);
      }

      
      @include desktop() {
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  .map {
    grid-area: map;
    iframe {
      width: 100%;
      height: 400px;
      border: solid thin var(--c-lightblack);
    }
  }

  .react {
    grid-area: react;
    font-size: 1.5rem;

    form {
      
      label {
        display: block;
        margin-top: 0.3rem;
        margin-top: 0.9rem;
      }

      input {
        width: 100%;
        height: 30px;
      }

      textarea {
        width: 100%;
        resize: none;
      }

      input[type="submit"] {
    
        display: block;
        margin: 0.5rem auto;
        height: 50px;
        width: 80%;
        border-radius: 0;
        background-color: var(--c-white);
      }
    }
  }

  .details {
    grid-area: details;
     .list {
      padding-bottom: 50px;
      h1 {
        text-align: center;
      }
       font-size: 1.4rem;
       border: solid thin var(--c-black);
       ul {
         width: 80%;
         margin: 0 auto;
         list-style:disc;

         li {
           margin: 0 auto;
           width: fit-content;
         }
       }
     }

     .likepanel {
       margin-top: 0.3rem;
       border: solid thin var(--c-black);
       display: flex;
       justify-content: space-around;

       a, p {
         border: solid thin var(--c-black);padding: 0.5rem;
         margin: 0.5rem;
         width: 30px;
         text-align: center;
         border-radius: 15px;
       }

       @include desktop() {
         margin-top: 1rem;
       }
     }
  }

  .reactions {
    grid-area: reactions;
  }
}

/* Footer */
footer {
  width: 100%;
  margin-top: 0.9375rem;
  background: var(--c-darkblue);
  text-align: center;

  > p {
    font-weight: bold;
    font-size: 1rem;
    padding: 1.25rem 0;
  }
}
