@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --m-mobile-header: 9.375rem;
  --m-header: 5rem;
  --c-black: #000000;
  --c-lightblack: #504b4b;
  --c-extralightgrey: #f6f5f5;
  --c-white: #ffffff;
  --c-darkblue: #3a5bc5;
  --c-lightblue: #b6c5f6;
}

body {
  background: var(--c-extralightgrey);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--c-white);
  text-align: center;
  height: var(--m-mobile-header);
}

@media screen and (min-width: 768px) {
  header {
    height: var(--m-header);
    text-align: unset;
  }
}

header .container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

header .logo {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: var(--c-black);
  font-size: 2.25rem;
  letter-spacing: 0.125rem;
}

header .logo-blue {
  color: var(--c-darkblue);
}

@media screen and (min-width: 768px) {
  header .logo {
    line-height: var(--m-header);
  }
}

header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  header .nav__list {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    line-height: var(--m-header);
  }
}

@media screen and (min-width: 768px) {
  header .nav__list__item {
    line-height: var(--m-header);
  }
}

header .nav__list .nav__btn {
  display: block;
  color: var(--c-lightblack);
  font-size: 1.625rem;
  padding: 1.25rem 0.625rem 0.625rem 0.625rem;
  margin-bottom: 0.625rem;
}

@media screen and (min-width: 768px) {
  header .nav__list .nav__btn {
    padding: 0 1.5rem;
    margin: 0 auto;
  }
}

header .nav__list .nav__btn:hover {
  color: var(--c-lightblue);
}

header .nav__list .nav__btn--active {
  color: var(--c-black);
  border-bottom: solid thin var(--c-black);
}

@media screen and (min-width: 768px) {
  header .nav__list .nav__btn--active {
    border-bottom: unset;
    text-decoration: underline;
  }
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.625rem;
  height: 1.56rem;
}

@media screen and (min-width: 768px) {
  header form {
    margin-top: calc((var(--m-header) / 2) - (1.56rem / 2));
    line-height: var(--m-header);
    height: 2rem;
  }
}

header form > input[type="search"] {
  width: 18.75rem;
  border-radius: 1.56rem 0 0 1.56rem;
  border-color: var(--c-black);
}

@media screen and (min-width: 768px) {
  header form > input[type="search"] {
    width: 18.75rem;
  }
}

header form > input[type="submit"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 1.56rem 1.56rem 0;
  background-color: var(--c-lightblue);
  border-color: var(--c-black);
}

header .trips-button {
  display: none;
}

@media screen and (min-width: 1080px) {
  header .trips-button {
    display: block;
    line-height: var(--m-header);
  }
}

header .trips-button > button {
  color: var(--c-black);
  background-color: var(--c-lightblue);
  border-radius: 1.56rem;
  padding: 0.625rem;
  text-transform: uppercase;
}

main {
  margin-top: var(--m-mobile-header);
}

main .container {
  min-height: 100%;
}

@media screen and (min-width: 1080px) {
  main .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "hero hero hero" "main-content aside aside";
    width: 80%;
    margin: 0 auto;
  }
}

main aside {
  grid-area: aside;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: var(--m-header);
  }
}

.hero {
  width: 100%;
  border: thin solid var(--c-lightblack);
  text-align: center;
  padding: 3.12rem 0;
}

.hero__title {
  font-size: 0.9375rem;
}

.hero__subtitle {
  color: var(--c-lightblack);
  letter-spacing: 0.125rem;
  line-height: 1.25rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1080px) {
  .hero {
    grid-area: hero;
  }
}

article .main-article {
  grid-area: main-article;
}

article > .article-title {
  font-weight: bold;
  margin: 0 0 0.3125rem 0.3125rem;
  font-size: 1.25rem;
}

article > .article-text {
  margin-left: 0.3125rem;
}

.organiser-card {
  border: thin solid var(--c-lightblack);
  text-align: center;
  width: 95%;
  max-width: 28.12rem;
  margin: 0.5rem auto;
  -webkit-box-shadow: 0.625rem 0.75rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.625rem 0.75rem 0.5rem rgba(0, 0, 0, 0.5);
}

.organiser-card__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.1875rem;
  margin-bottom: 0.625rem;
}

.organiser-card__image {
  margin-bottom: 0.625rem;
  width: 12.5rem;
}

.organiser-card__text {
  margin-bottom: 0.625rem;
}

footer {
  width: 100%;
  margin-top: 0.9375rem;
  background: var(--c-darkblue);
  text-align: center;
}

footer > p {
  font-weight: bold;
  font-size: 1rem;
  padding: 1.25rem 0;
}
/*# sourceMappingURL=style.css.map */